*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font aliasing etc */

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.view-container{
    display: flex;
}

.upload-holder{
    display: flex;
    flex-direction: column;
    position: absolute;
    top : 0;
    left: 0;
    padding: 10px 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.upload-holder > label{
    margin-bottom: 10px;
}

#tex-holder{
    position: fixed;
    display: block;
    top: 10px;
    right :10px;
}
#tex-canvas{
    height:512px;
    width: 512px;
    padding: 0px;
    margin: 0px;
}